body {
  margin: 0px;
  padding: 0px;
}
/* Nav bar styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
}

.burger {
  width: 60px;
  height: 60px;
}

#logo {
  padding-right: 10px;
  color: aliceblue;
}
/* End of navbar styles */
/* Footer Styles */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  height: 25px;
  display: flex;
  justify-content: space-between;
}

#icons-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-basis: 30%;
}

#tag {
  margin: 0;
  padding: 0;
  color: aliceblue;
}

/* End of footer styles */

main {
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgray;
  max-width: 80%;
}

/* Form Styles */
.login-form {
  min-height: 570px;
  width: 340px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 80%;
  gap: 30px;
}

.labels {
  font-size: x-large;
}

.inputs {
  height: 30px;
}

.button {
  width: 50%;
  height: 30px;
  background-color: aliceblue;
  margin: 0px auto;
}
