body {
  margin: 0px;
  padding: 0px;
}
/* Nav bar styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
}

.burger {
  width: 60px;
  height: 60px;
}

#logo {
  padding-right: 10px;
  color: aliceblue;
}
/* End of navbar styles */
/* Footer Styles */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  height: 25px;
  display: flex;
  justify-content: space-between;
}

#icons-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-basis: 30%;
}

#tag {
  margin: 0;
  padding: 0;
  color: aliceblue;
}

/* End of footer styles */
main {
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80%;
  background-color: lightgray;
}

/* Form Styles */
.support-form {
  min-height: 570px;
  width: 340px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 80%;
  gap: 30px;
  padding: 5px;
}

.labels {
  font-size: x-large;
}

.inputs {
  height: 30px;
}

.button {
  width: 50%;
  height: 30px;
  background-color: aliceblue;
  margin: 0px auto;
}

h2 {
  text-align: center;
  padding: 10px;
}
/* Sidebar nav */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

#closeBtn {
  position: absolute;
  top: 0;
}
/* End of sidebar */
